bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
MetaAuth.Ethereum/node_modules
MetaAuth.Ethereum/.env
node_modules
MetaAuth.API/appsettings.json
MetaAuth.API/appsettings.Development.json

